:root {
    --green: #28a745;
    --teal: #00594e;
    --success: #28a745;
    --light: #f8f9fa;
    --dark: #343a40;
    --font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro";
}

.header {
    background: transparent;
    padding: 0px;
    height: 500px;
    position: relative;
}

.header .background {
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
}
.header .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 60px;
    display: flex;
}
.header .navbar >* {
    flex: 1;    
}

.logo {
    max-width: 90px;
}

.header .header-menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header .header-menu li{
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "Source Sans Pro";
    margin-left: 30px;
}

/* --------------------------------- */

.categories {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.categories div {
    font-weight: 500;
    text-align: center;
    width: 150px;
}

.categories div img {
    width: 70px;
}

/* --------------------------------- */

.res_menu {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    justify-content: center;
    margin: auto;
}

.res_item {
    display: flex;
}

.half.left {
    flex-basis: 40%
}

.half.left img{
    max-width: 100%;
}

.half.right {
    padding: 0 20px;
}

.half.right .heading h2 {
    font-size: 26px;
    font-weight: 500;
}

.half.right .heading span {
    text-transform: lowercase !important;
    font-weight: normal;
    color: var(--teal) !important;
    font-size: 16px;
    padding-left: 10px;
}

.half.right .ing {
    display: flex;
    gap: 0 16px;
    text-align: center;
}

.half.right .ing div img {
    width: 30px;
}

.half.right .ing p {
    font-size: 12px;
    color: var(--teal);
}

.half.right .text p.note {
    color: var(--teal);
}

.half.right .text p {
    line-height: 24px;
  }
  
.nutrition {
    display: flex;
    gap: 0 20px;
    text-align: center;
}

.nutrition_item .circle {
    width: 30px;
    height: 30px;
    background: transparent;
    border: solid 1px var(--teal);
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nutrition_item p {
    font-size: 12px;
    color: var(--teal);
}

.cta button {
    padding: 10px 50px;
    font-size: 15px;
    border-radius: 20px;
    color: white;
    background: var(--teal);
    border: none;
    text-transform: uppercase;
    box-shadow: none;
}

  /* --------------------------------- */

  .footer {
    background: var(--teal); 
    padding: 40px;
    margin: 40px 0 0;
}

.footer * {
    color: white;
}

.footer ul {
    list-style-type: none;
}

.footer_wrapper {
    display: flex;
}

.footer_wrapper>div {
    flex: 1;
}

.footer_wrapper .f_logo img {
    width: 200px;
}

.footer_contact li {
    display: flex;
    gap: 0 10px;
    align-items: center;
}

.footer_contact ul li img {
    max-width: 30px;
    margin: 10px 0 0;
}




